@import url('https://fonts.googleapis.com/css?family=Lato|Montserrat|Open+Sans|Oswald|Raleway|Roboto&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', 'Roboto';
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  /* border: 2px solid rgba(0,0,0,0.5); */
  min-height: 360px;
  width: 300px;
  padding: 30px;
  box-shadow: 3px 3px 3px rgba(0,0,0,0.5);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: space-between; 
}
h1 {
  margin-bottom: 10px;
  text-align: center;
}

.input {
  width: 100%;
  border-radius: 5px;
  border: 2px solid rgb(238, 238, 238);
  font-size: 16px;
  outline: none;
  padding: 10px 20px 10px 10px;
}

ul {
  list-style: none;
  border: 2px solid rgba(0,0,0,0.1);
  margin-top: 10px;
  border-radius: 5px;
  padding: 1px 5px 10px;
}

ul li {
  display: flex;
  justify-content: space-between;
  padding: 0px 10px;
  margin-top: 10px;
}

.button_container {
 
}

.button {
  background: rgb(49, 163, 255);
  padding: 10px 20px;
  text-align: center;
  color: #fff;
  font-weight: bold;
  box-shadow: 2px 2px 2px rgba(0,0,0,0.5);
  border-radius: 5px;
  cursor: pointer;
  user-select: none;
}

.button:active {
  box-shadow: 1px 1px 1px black;
}

.add_button:hover {
  background: rgba(49, 163, 255, 0.9);
}


.delete_button {
  background: rgba(0,0,255,0.9);
  margin-top: 10px;
}

.delete_button:hover {
  background: rgba(0,0,255,0.8);
}

hr {
  margin-top: 70px;
  height: .5px;
}