@import url('https://fonts.googleapis.com/css?family=Lato|Montserrat|Open+Sans|Oswald|Raleway|Roboto&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', 'Roboto';
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  min-height: 360px;
  width: 300px;
  padding: 25px 30px;
  box-shadow: 3px 3px 3px rgba(0,0,0,0.5);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: height 1s ease;
}



span {
  position: relative;
  left: 60%;
  top: -15px;
  font-size: 8px;
  color: grey;
}

.checkbox {
  position: relative;
  left: 60%;
  top: -15px;
  margin: 0;
  padding: 0;
}

h1 {
  margin-bottom: 10px;
  text-align: center;
}

.input {
  width: 100%;
  border-radius: 5px;
  border: 2px solid rgb(238, 238, 238);
  font-size: 16px;
  outline: none;
  padding: 10px 20px 10px 10px;
}

ul {
  height: 100px;
  overflow-y: scroll;
}


li {
  display: flex;
  justify-content: space-between;
  border: 2px solid rgba(0,0,0,0.1);
  padding: 10px 15px;
  border-radius: 6px;
  margin-top: 10px;
}


.fas.fa-times {
 cursor: pointer;
}

a {
  text-decoration: none;
  color: rgb(49, 163, 255);
}

a.active {
  text-decoration: line-through;
}

.button_container {
  margin-top: 10px;
}

.button {
  background: rgb(49, 163, 255);
  padding: 10px 20px;
  text-align: center;
  color: #fff;
  font-weight: bold;
  box-shadow: 2px 2px 2px rgba(0,0,0,0.5);
  border-radius: 5px;
  cursor: pointer;
  user-select: none;
}

.button:active {
  box-shadow: 1px 1px 1px black;
}

.add_button:hover {
  background: rgba(49, 163, 255, 0.9);
}


.delete_button {
  background: rgba(0,0,255,0.9);
  margin-top: 10px;
}

.delete_button:hover {
  background: rgba(0,0,255,0.8);
}

hr {
  margin-top: 70px;
  height: .5px;
}